#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

/* Splash Page */

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.splash-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-bg{
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime 14.28%, cyan 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-animation: 'slide' 50s infinite linear forwards;
  position: fixed;
  z-index: -1;
}

.splash-form { display: flex; align-items: center; }
.splash-form input {
  margin-right: 10px;
  padding: 5px;
  border: 1px;
  border-radius: 5px;
}
.splash-form i:hover { cursor: pointer; }

/* Navbar */

.navbar-container {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-title {
  flex: 2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.btn-group {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.btn-group a { text-decoration: none; }

/* Chat */

.chat-container {
  height: 500px;
  width: 350px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 90%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.chat-bubble-container {
  display: inline-block;
  padding: 5px;
  min-height: 30px;
  text-align: left;
}

.chat-bubble {
  float: left;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  border: solid white;
  clear: both;
  overflow: scroll;
}

.chat-bubble label {
  float: right;
}

.chat-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-form input { width: 90%; }

.own-message .chat-bubble {
  border-radius: 10px 0 10px 10px;
  background: #ddeed5;
  float: right;
}

.own-message .chat-bubble h1 {
  display: none;
}

.bot-message {
  text-align: center;
}

.bot-message .chat-bubble {
  background: #a0d6ff;
  border-radius: 10px 10px 10px 10px;
  float: none;
}

.bot-message .chat-bubble p {
  display: flex;
  justify-content: center;
}

.bot-message .chat-bubble h1 {
  display: none;
}
/* About */

.about-container {
  width: 400px;
  line-height: 2;
}

/* Contact */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-container img { flex: 1; }
.contact-container > div { flex: 2; text-align: center; }

.contact-desc h1 { font-size: 30px; margin: 5px 0; font-weight: bold; }
.contact-desc p { margin: 1em 0; font-size: 22px; }
.contact-desc i { margin-right: 2em; }
.contact-links {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip a { font-size: 18px; }
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 30px;
  left: -10px;
}

.tooltip:hover .tooltiptext { visibility: visible; }
